/* ::::: area ::::: */

#toolbar {
	padding: 2px;
	text-align: right;
}

#toolbar #backButton img {
	transform: scale(-1, 1);
}

#content {
	padding: 6px;
}

.hbox {
	margin-left: 6px;
	display: flex;
	align-items: center;
}

.hbox > * {
	margin-right: 4px !important;
}

.hbox + .hbox {
	margin-top: 10px;
}

.hbox label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hbox label + input[type="radio"] {
	margin-left: 4px;
}

#buttons {
	justify-content: center;
	margin-top: 30px;
}

/* ::::: elements ::::: */

h2 {
	display: flex;
	flex-direction: row;
}

h2:after {
	flex: auto;
	content: "";
	margin-left: 4px;
	background-image: url('/icons/separator.png');
	background-repeat: repeat-x;
	background-position: center;
}

:root[theme="dark"] h2:after {
	filter: invert(1);
}

input[type="text"],
input[type="search"] {
	padding: 3px;
}

input[type="radio"], input[type="checkbox"] {
	/* unset margin in browser css */
	margin: 0px;
}

.button, input[type="button"] {
	margin: 3px;
	padding: 3px 6px;
	display: inline-block;
	min-width: 5em;
	border: 1px solid ButtonShadow;
	border-radius: 2px;
	background-color: ButtonHighlight;
	text-align: center;
}

.button:hover, input[type="button"]:hover {
	background-color: rgba(12, 12, 13, 0.1);
}

.button:active, input[type="button"]:active {
	background-color: rgba(12, 12, 13, 0.2);
}

.button[disabled], input[type="button"][disabled] {
	color: GrayText;
	opacity: 0.7;
}

.button[disabled]:hover, input[type="button"][disabled]:hover,
.button[disabled]:active, input[type="button"][disabled]:active {
	background-color: ButtonHighlight;
}

:root[theme="dark"] input[type="text"],
:root[theme="dark"] input[type="search"],
:root[theme="dark"] input[type="number"],
:root[theme="dark"] input[type="button"],
:root[theme="dark"] .button {
	border: 1px solid var(--separator-color);
}

:root[theme="dark"] input[type="button"]:hover,
:root[theme="dark"] .button:hover {
	background-color: var(--hover-color);
}

:root[theme="dark"] input[type="button"]:active,
:root[theme="dark"] .button:active {
	background-color: rgb(60,60,60);
}

:root[theme="dark"] .button[disabled]:hover,
:root[theme="dark"] .button[disabled]:active,
:root[theme="dark"] input[type="button"][disabled]:hover,
:root[theme="dark"] input[type="button"][disabled]:active {
	background-color: transparent;
}

:root[theme="dark"] input[readonly] {
	color: #c9c9ca;
}

.link {
	color: -moz-hyperlinktext;
	cursor: pointer;
}

:root[theme="dark"] .link {
	color: skyblue;
}

:root[browser="Chrome"] .link {
	color: blue;
}

.link:hover {
	text-decoration: underline;
}

.nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ::::: [Chrome] ::::: */

:root[browser="Chrome"] #browserAction_0,
:root[browser="Chrome"] [for="browserAction_0"] {
	display: none;
}

